// Sub theme styling.
@import "variables_drupal";

// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.2/customize/sass/#variable-defaults.
@import "variables_bootstrap";

// Include bootstrap.
@import "../../../../themes/contrib/bootstrap5/scss/style";

.region-nav-main {
  margin: auto;
}

.test {
  background-color: red;
  color: white;
}

.goutham-test:hover {
  background-color: red;
  color: yellow;
}

.bg-dark {
  background-color: yellowgreen !important;
}
